# Web Scraping
Scraping data from https://covid19.ncdc.gov.ng to show COVID19 report in Nigeria - States Affected, No. of Cases (Lab Confirmed), No. of Cases (on admission), No. Discharged and No. of Deaths

In [1]:
#import libraries
import numpy as np
import pandas as pd
import csv
from bs4 import BeautifulSoup
import requests

In [2]:
#define class and functions
class WebScraper:
    results = []

    def fetch(self, url):
        return requests.get(url)
    
    def parse(self, html):
        content = BeautifulSoup(html, 'html.parser')
        covid_data = content.find('table')
        rows = covid_data.findAll('tr')
        self.results.append([header.text for header in rows[0].findAll('th')])
        
        for row in rows:
            if len(row.findAll('td')):
                self.results.append([data.text for data in row.findAll('td')])
    
    def to_csv(self):
        with open('covid19_data.csv', 'w') as csv_file:
            writer = csv.writer(csv_file)
            writer.writerows(self.results)
    
    def run(self):
        response = self.fetch('https://covid19.ncdc.gov.ng/')
        self.parse(response.text)
        self.to_csv()

if __name__ == '__main__':
    scraper = WebScraper()
    scraper.run()

In [3]:
df = pd.read_csv('covid19_data.csv')

In [4]:
df

,States Affected,No. of Cases (Lab Confirmed),No. of Cases (on admission),No. Discharged,No. of Deaths
0,\r\nLagos\r\n,"9,482\r\n","7,881\r\n","1,475\r\n",126
1,\r\nFCT\r\n,"1,656\r\n","1,110\r\n",514\r\n,32
2,\r\nKano\r\n,"1,191\r\n",347\r\n,793\r\n,51
3,\r\nOyo\r\n,"1,188\r\n",842\r\n,337\r\n,9
4,\r\nRivers\r\n,936\r\n,427\r\n,473\r\n,36
5,\r\nEdo\r\n,851\r\n,562\r\n,257\r\n,32
6,\r\nOgun\r\n,733\r\n,263\r\n,453\r\n,17
7,\r\nDelta\r\n,715\r\n,534\r\n,159\r\n,22
8,\r\nKaduna\r\n,668\r\n,346\r\n,312\r\n,10
9,\r\nBauchi\r\n,493\r\n,103\r\n,378\r\n,12
10,\r\nGombe\r\n,482\r\n,149\r\n,317\r\n,16
11,\r\nBorno\r\n,477\r\n,58\r\n,387\r\n,32
12,\r\nKatsina\r\n,459\r\n,170\r\n,267\r\n,22
13,\r\nJigawa\r\n,317\r\n,120\r\n,191\r\n,6
14,\r\nPlateau\r\n,294\r\n,130\r\n,156\r\n,8
15,\r\nAbia\r\n,288\r\n,112\r\n,173\r\n,3
16,\r\nImo\r\n,269\r\n,243\r\n,23\r\n,3
17,\r\nEbonyi\r\n,264\r\n,41\r\n,222\r\n,1
18,\r\nKwara\r\n,217\r\n,83\r\n,128\r\n,6
19,\r\nOndo\r\n,206\r\n,120\r\n,67\r\n,19
20,\r\nEnugu\r\n,202\r\n,160\r\n,37\r\n,5
21,\r\nNasarawa\r\n,198\r\n,78\r\n,112\r\n,8
22,\r\nBayelsa\r\n,184\r\n,131\r\n,41\r\n,12
23,\r\nSokoto\r\n,140\r\n,8\r\n,118\r\n,14
24,\r\nNiger\r\n,84\r\n,44\r\n,37\r\n,3
25,\r\nOsun\r\n,84\r\n,32\r\n,47\r\n,5
26,\r\nAkwa Ibom\r\n,83\r\n,38\r\n,43\r\n,2
27,\r\nZamfara\r\n,76\r\n,0\r\n,71\r\n,5
28,\r\nAdamawa\r\n,73\r\n,30\r\n,37\r\n,6
29,\r\nKebbi\r\n,71\r\n,23\r\n,42\r\n,6
30,\r\nAnambra\r\n,70\r\n,4\r\n,57\r\n,9
31,\r\nYobe\r\n,56\r\n,3\r\n,45\r\n,8
32,\r\nBenue\r\n,47\r\n,31\r\n,15\r\n,1
33,\r\nEkiti\r\n,38\r\n,8\r\n,28\r\n,2
34,\r\nTaraba\r\n,19\r\n,9\r\n,10\r\n,0
35,\r\nKogi\r\n,3\r\n,3\r\n,0\r\n,0

## Data Cleaning

In [5]:
df_cleaned = df.replace(to_replace ="\r\n", value ="", regex=True) 
df_cleaned

,States Affected,No. of Cases (Lab Confirmed),No. of Cases (on admission),No. Discharged,No. of Deaths
0,Lagos,"9,482","7,881","1,475",126
1,FCT,"1,656","1,110",514,32
2,Kano,"1,191",347,793,51
3,Oyo,"1,188",842,337,9
4,Rivers,936,427,473,36
5,Edo,851,562,257,32
6,Ogun,733,263,453,17
7,Delta,715,534,159,22
8,Kaduna,668,346,312,10
9,Bauchi,493,103,378,12
10,Gombe,482,149,317,16
11,Borno,477,58,387,32
12,Katsina,459,170,267,22
13,Jigawa,317,120,191,6
14,Plateau,294,130,156,8
15,Abia,288,112,173,3
16,Imo,269,243,23,3
17,Ebonyi,264,41,222,1
18,Kwara,217,83,128,6
19,Ondo,206,120,67,19
20,Enugu,202,160,37,5
21,Nasarawa,198,78,112,8
22,Bayelsa,184,131,41,12
23,Sokoto,140,8,118,14
24,Niger,84,44,37,3
25,Osun,84,32,47,5
26,Akwa Ibom,83,38,43,2
27,Zamfara,76,0,71,5
28,Adamawa,73,30,37,6
29,Kebbi,71,23,42,6
30,Anambra,70,4,57,9
31,Yobe,56,3,45,8
32,Benue,47,31,15,1
33,Ekiti,38,8,28,2
34,Taraba,19,9,10,0
35,Kogi,3,3,0,0

In [6]:
df_cleaned.columns

Index(['States Affected', 'No. of Cases (Lab Confirmed)',
       'No. of Cases (on admission)', 'No. Discharged', 'No. of Deaths'],
      dtype='object')

In [7]:
num_of_states = len(list(df_cleaned['States Affected']))
print(f'There are {num_of_states} states')

There are 36 states

In [8]:
df_cleaned.to_csv('covid19_data_cleaned.csv', index=False, encoding='utf-8')